@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;600;700&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
}

@layer base {
  body {
      @apply font-[Raleway];
  }
  li {
      @apply px-4;
      @apply cursor-pointer
  }
}

.App {
  width: 100%;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(112, 157, 255, 0.8),
      hsla(242, 74%, 61%, 0.8)   
  )!important;
}

.header {
  text-align: center;
}

.footer {
  font-family: inherit;
  font-size: 0.8rem;
  padding: 0.5rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer a {
  text-decoration: none;
  /* color: whitesmoke; */
}

/* .portrait {
  background-image: url(./assets/ev_icon_pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  opacity: 0.8;
} */

/* primary 037FFF */
/* secondary 19202E */
/* background 10121B */

.title {
  padding: 5rem 0;
}

.filterBtn {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 100px;
  border-radius: 5px;
}

button:hover {
  background-color: whitesmoke;
  color:rgba(112, 157, 255, 0.8)
}

/* .item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  transition: all 1s;
} */

/* .item-con {
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
} */

.item-container {
  width: 100%;

}

.item-container > img {
  width: 100%;
  background-size: cover;
}


/* .buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

/* .button {
  border: 1px solid #000;
  background-color: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
} */

/* .button:hover {
  box-shadow: 1px 1px rgb(0,0,0);
} */

/* .items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
} */

/* .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border-radius: 5px;
  border: 1px solid #000;
} */

/* .category {
  color: #64748b;
} */

/* .active {
  background-color: #1e293b;
  color: #fff;
} */

.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 /* position: absolute; */
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}